/* /* .Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* leftside */
/* .a-left {
  gap: 2rem;
}

.a-left > img {
  width: 4rem;
  height: 4rem;
} */

/* .Webname > h1 {
  font-size: 3rem;
  background-color: rgb(124, 71, 10);

  /* Create the gradient. */
  /* background-image: var(--buttonBg); */ */

  /* Set the background size and repeat properties. */
  /* background-size: 100%;
  background-repeat: repeat; */

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.Webname > h6 {
  font-size: 0.85rem;
}
.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.infoInput {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 15px;
  flex: 1;
}

.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}
.infoButton {
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}
.infoInput {
  width: 400px;
  min-width: 300px;
}
.inputdiv {
  position: relative;
}
.inputdiv span {
  border-radius: 5px;
  position: absolute;
  left: 414px;
  padding: 5px;
  /* min-width: -moz-fit-content; */
  /* min-width: 200px;
  background: rgb(233, 70, 70);
  color: white;
} */
/* .authForm {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  width: 30vw;
} */
/* .authForm > div {
  width: 100%;
  align-items: center;
  justify-content: center;
} */
/* @media (max-width: 600px) {
  .Auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding-top: 0;
    margin-top: 0;
    height: 90vh;
  }

  .a-left > img {
    width: 125px;
    height: 100px;
  }

  .Webname > h1 {
    display: none;
  }
  .Webname > h6 {
    display: none;
  }
  .authForm {
    width: 80vw;
  }
  .authForm.login {
    width: 80vw;
  } */

